rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita para desenvolvimento local
    // Restrinja isso antes de ir para produção!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}